
@using Hitechsoft.CRM.Web.Areas.App.Models.Common.Modals
@using Hitechsoft.CRM.Web.Areas.App.Models.Ethnicities
@model EthnicityViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="EthnicityInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Code") :</h6>
                @Model.Ethnicity.Code
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Name") :</h6>
                @Model.Ethnicity.Name
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.Ethnicity.Description
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Status") :</h6>
                @Model.Ethnicity.Status
            </div>
        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

