@using Hitechsoft.CRM.Authorization
@using Hitechsoft.CRM.Web.Areas.App.Models.Gender
@using Hitechsoft.CRM.Web.Areas.App.Startup
@model GenderViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.Gender;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/Gender/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("Gender")" description="@L("GenderHeaderInfo")">
        <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_Administration_Gender_Create))
        {
            <button id="CreateNewGenderButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewGender")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="GenderTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetGenderButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="GenderTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th>@L("Actions")</th>
                                <th>@L("Code")</th>
                                <th>@L("Name")</th>
                                <th>@L("IsDeleted")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>