@using Hitechsoft.CRM.Authorization
@using Hitechsoft.CRM.Web.Areas.App.Models.Icd10s
@using Hitechsoft.CRM.Web.Areas.App.Startup
@model Icd10sViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.Icd10s;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/Icd10s/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

                <abp-page-subheader title="@L("Icd10s")" description="@L("Icd10sHeaderInfo")">
                     <button id="ExportToExcelButton" class="btn btn-sm btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
            
                     @if (IsGranted(AppPermissions.Pages_Icd10s_Create))
                     {
                         <button id="CreateNewIcd10Button" class="btn btn-primary blue btn-sm"><i class="fa fa-plus"></i> @L("CreateNewIcd10")</button>                
                     }
                </abp-page-subheader>
            
<div class="@(await GetContainerClass())">   
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="form-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="Icd10sTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetIcd10sButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
						<div class="kt-separator kt-separator--border-dashed"></div>
					</div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="CodeFilterId">@L("Code")</label>
									<input type="text" class="form-control" name="codeFilter" id="CodeFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="NameFilterId">@L("Name")</label>
									<input type="text" class="form-control" name="nameFilter" id="NameFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="DiseaseChapterCodeFilterId">@L("DiseaseChapterCode")</label>
									<input type="text" class="form-control" name="diseaseChapterCodeFilter" id="DiseaseChapterCodeFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="DiseaseChapterNameFilterId">@L("DiseaseChapterName")</label>
									<input type="text" class="form-control" name="diseaseChapterNameFilter" id="DiseaseChapterNameFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="WHOeNameFilterId">@L("WHOeName")</label>
									<input type="text" class="form-control" name="whOeNameFilter" id="WHOeNameFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="WHONameFilterId">@L("WHOName")</label>
									<input type="text" class="form-control" name="whoNameFilter" id="WHONameFilterId">
								</div>
                            </div>
                            <div class="col-md-3">
                                 <div class="form-group">
									<label  for="MinStatusFilterId">@L("MinMax") @L("Status")</label>
									<div class="input-group">
										<input type="number" class="form-control m-input" placeholder="@L("MinValue")" name="minStatusFilter" id="MinStatusFilterId"/>
                                        <input type="number" class="form-control m-input" placeholder="@L("MaxValue")" name="maxStatusFilter"  id="MaxStatusFilterId"/>
									</div>
                                </div>
                            </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
            <div class="row align-items-center">
                <table id="Icd10sTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th></th>
                            
                            <th>@L("Actions")</th>
								<th>@L("Code")</th>
								<th>@L("Name")</th>
								<th>@L("DiseaseChapterCode")</th>
								<th>@L("DiseaseChapterName")</th>
								<th>@L("WHOeName")</th>
								<th>@L("WHOName")</th>
								<th>@L("Status")</th>
                            
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>