
@using Hitechsoft.CRM.Web.Areas.App.Models.Common.Modals
@using Hitechsoft.CRM.Web.Areas.App.Models.MedicinalTypes
@model MedicinalTypeViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="MedicinalTypeInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Code") :</h6>
                @Model.MedicinalType.Code
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Name") :</h6>
                @Model.MedicinalType.Name
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.MedicinalType.Description
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Status") :</h6>
                @Model.MedicinalType.Status
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsDeleted") :</h6>
                @Model.MedicinalType.IsDeleted
            </div>


        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

